In [2]:
import pandas as pd
import sys
from sklearn.model_selection import train_test_split

In [50]:
df = pd.read_csv('data/train.csv')

In [6]:
df = df[['question_text', 'target']]

In [7]:
correct_targets = df['target'].isin([0, 1])
df = df[correct_targets]

In [5]:
len(df)

1306122

In [9]:
print(sys.getsizeof(df)/1000000000, "GB")

0.180593248 GB

In [12]:
df = pd.read_csv('data/train_cleaned.csv')

In [13]:
lens = df['question_text'].apply(len)

In [15]:
lens[lens<10]

Series([], Name: question_text, dtype: int64)

In [16]:
x = pd.DataFrame(columns=['question_text','target'])

In [17]:
x

Empty DataFrame
Columns: [question_text, target]
Index: []

In [18]:
x.to_csv('data/pokus.csv', index=False)

In [4]:
df.head()

                                                   0
0  Why is there always 6 months before we can sta...
1  What response should a boy give if a girl slap...
2  How in Sam HELL did the richest, most isolated...
3                         What is dual listed stock?
4  Why are there so many pharmaceutical commercia...

In [8]:
X = df['question_text']
y = df['target']
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.3, random_state=23, shuffle=True, stratify=y)

In [29]:
train_X

1187285                          Are dress clothes outdated?
1276248                  Which is the best 1.5 ton split AC?
833818     What modern fantasy series doesn't just copy w...
352757     How novel or original was Sujan Stevens' "Illi...
281920     How do you decide what Facebook friends reques...
                                 ...
8427       Is it true that average blockchain projects di...
1275536    Has anyone tried to file a complaint with SDPD...
58860      Which is the best Wardrobe Accessories in Bang...
564286            What is the most successful thing you buy?
620865        What are the requirements to perform jousting?
Name: question_text, Length: 914285, dtype: object

In [30]:
train_y

1187285    0
1276248    0
833818     0
352757     0
281920     0
          ..
8427       0
1275536    0
58860      0
564286     0
620865     0
Name: target, Length: 914285, dtype: int64

In [32]:
pd.concat([train_X, train_y], axis=1)

                                             question_text  target
1187285                        Are dress clothes outdated?       0
1276248                Which is the best 1.5 ton split AC?       0
833818   What modern fantasy series doesn't just copy w...       0
352757   How novel or original was Sujan Stevens' "Illi...       0
281920   How do you decide what Facebook friends reques...       0
...                                                    ...     ...
8427     Is it true that average blockchain projects di...       0
1275536  Has anyone tried to file a complaint with SDPD...       0
58860    Which is the best Wardrobe Accessories in Bang...       0
564286          What is the most successful thing you buy?       0
620865      What are the requirements to perform jousting?       0

[914285 rows x 2 columns]

In [33]:
len(train_X)

914285

In [40]:
df_train = pd.read_csv('data/train_train.csv')
df_test = pd.read_csv('data/train_validation.csv')

In [48]:
df_train['target'].sum()/len(df_train)

0.061854880784539344

In [49]:
df_test['target'].sum()/len(df_test)

0.061855906898399815

In [52]:
df['target'].sum()/len(df)

0.06187017751787352

In [54]:
x = df.groupby('target').size()

In [57]:
x[1]/x[0]

0.06595054973753624

In [3]:
x = pd.read_csv('data/train_validation.csv')

In [5]:
x = x.sample(30)

In [7]:
x.to_csv('data/train_validation_small.csv')